
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: font1;
  src: url(./assets/pxiEyp8kv8JHgFVrJJfecg.ttf);
}
@font-face {
  font-family: font2;
  src: url(./assets/pxiGyp8kv8JHgFVrJJLucHtA.ttf);
}

html , body{
  background: #121212;
  color: white;
}

body{
  overflow-x: hidden;
  overflow-y: auto;   /* Allow vertical scrolling */
}

body::-webkit-scrollbar{
  height: 0px;
  width:0px ;
}

.hidden-section {
  display: none; /* Hide content initially */
}


